<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Best Swim Times</ion-title>
    <ion-buttons slot="end">
      <ion-button icon-only (click)="refresh()">
        <ion-icon name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-segment [(ngModel)]="course">
      <ion-segment-button value="SC">
        Short Course
      </ion-segment-button>
      <ion-segment-button value="LC">
        Long Course
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="course">
    <div *ngFor="let course_type of config.course_types">
    <ion-list *ngSwitchCase="course_type.code">
      <ion-item>
        <div>
          <h1>{{ swimmer.first_name }} {{ swimmer.last_name }}</h1>
          <ion-label>{{ course_type.name }}</ion-label>
        </div>
      </ion-item>
      <ion-item *ngFor="let time of swimmer.times | coursetype:course_type.code" (click)="getAllTimes(time.race_type)">
        <ion-grid no-padding>
          <ion-row>
            <ion-col size="8">
              <h2>{{ config.races[time.race_type].name }}</h2>
              <ion-label text-wrap>{{ time.meet_name }}</ion-label>
              <ion-label>{{ time.venue }}</ion-label>
              <ion-label>{{ time.date | date:'dd-MMM-yyyy' }}</ion-label>
            </ion-col>
            <ion-col size="4">
              <div class="ion-text-end">
                <h2><display-time [time]="time.time">{{ time.time }}</display-time></h2>
                <ion-note><display-time [time]="time.conv">{{ time.conv }}</display-time></ion-note>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
    </div>
  </div>
</ion-content>
