<ion-header>
  <ion-navbar>
    <ion-title>SwimApp</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>Add Swimmer</ion-card-header>
    <ion-card-content>
      Enter an ASA number below to add a swimmer
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label stacked>ASA Number</ion-label>
            <ion-input type="text" [(ngModel)]="asanum"></ion-input>
          </ion-col>
          <ion-col  width-20>
             <button ion-button (click)="addSwimmer()">Add</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>Swimmers</ion-card-header>
    <ion-list>
      <ion-item *ngFor="let swimmer of swimmers">
        <ion-grid>
          <ion-row>
            <ion-col (click)="selectSwimmer(swimmer)" width-10>
              <ion-icon name="man" *ngIf="swimmer.gender == 'M'"></ion-icon>
              <ion-icon name="woman" *ngIf="swimmer.gender == 'F'"></ion-icon>
              <ion-icon name="help" *ngIf="!swimmer.gender"></ion-icon>
            </ion-col>
            <ion-col (click)="selectSwimmer(swimmer)">
              <h2>{{ swimmer.first_name }} {{ swimmer.last_name }}</h2>
              <h3>{{ swimmer.regno }} {{ swimmer.gender ? config.genders[swimmer.gender].name : "??" }} {{ swimmer.dob | date:'dd-MMM-yyyy' }}</h3>
              <p>{{ swimmer.club }}</p>
            </ion-col>
            <ion-col width-20>
              <button ion-button item-right outline (click)="editSwimmer(swimmer)">Edit</button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </ion-card>

  <button ion-button outline (click)="removeSwimmers()">Clear</button>
  <button ion-button outline (click)="refresh()">Refresh</button>
</ion-content>
