<ion-header>
  <ion-navbar>
    <ion-title>SwimApp {{ user ? user.full_name : "" }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addSwimmer()">
        <ion-icon name="add"></ion-icon>
      </button>
      <button ion-button icon-only (click)="removeToken()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="swimmers && swimmers.length > 0">
    <ion-card-header>Swimmers</ion-card-header>
    <ion-list>
      <ion-item *ngFor="let swimmer of swimmers">
        <ion-grid>
          <ion-row>
            <ion-col (click)="selectSwimmer(swimmer)" width-10>
              <ion-icon name="man" *ngIf="swimmer.gender == 'M'"></ion-icon>
              <ion-icon name="woman" *ngIf="swimmer.gender == 'F'"></ion-icon>
              <ion-icon name="help" *ngIf="!swimmer.gender"></ion-icon>
            </ion-col>
            <ion-col (click)="selectSwimmer(swimmer)">
              <h2>{{ swimmer.first_name }} {{ swimmer.last_name }}</h2>
              <h3>{{ swimmer.regno }} {{ swimmer.gender ? config.genders[swimmer.gender].name : "??" }} {{ swimmer.dob | date:'dd-MMM-yyyy' }}</h3>
              <p>{{ swimmer.club }}</p>
            </ion-col>
            <ion-buttons end>
              <button ion-button icon-only (click)="removeSwimmer(swimmer)"><ion-icon name="trash"></ion-icon></button>
              <button ion-button icon-only (click)="editSwimmer(swimmer)"><ion-icon name="settings"></ion-icon></button>
            </ion-buttons>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-content *ngIf="swimmers && swimmers.length == 0" padding>
    <ion-list>
      <h2>Welcome</h2>
      <p>To get started you need to add at least one swimmer</p>
      <button ion-button block (click)="addSwimmer()">Add</button>
    </ion-list>
  </ion-content>
</ion-content>
