<ion-header>
  <ion-navbar>
    <ion-title>Best Swim Times</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="refresh()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div>
    <ion-segment [(ngModel)]="course">
      <ion-segment-button value="SC">
        Short Course
      </ion-segment-button>
      <ion-segment-button value="LC">
        Long Course
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="course">
    <div *ngFor="let course_type of config.course_types">
    <ion-list *ngSwitchCase="course_type.code">
      <ion-list-header>
          <h1>{{ swimmer.first_name }} {{ swimmer.last_name }}</h1>
          <h2>{{ course_type.name }}</h2>
      </ion-list-header>
      <ion-item *ngFor="let time of swimmer.times | coursetype:course_type.code" (click)="getAllTimes(time.race_type)">
        <div item-right class="list-time"><display-time [time]="time.time">{{ time.time }}</display-time></div>
        <h2>{{ config.races[time.race_type].name }}</h2>
        <p>{{ time.meet_name }}</p>
        <p>{{ time.venue }}</p>
        <p>{{ time.date | date:'dd-MMM-yyyy' }}</p>
      </ion-item>
    </ion-list>
    </div>
  </div>
</ion-content>
