.listicon {
  font-size: 64px;
  padding: 0;
  margin: 0 20px 0 0;
  vertical-align: middle;
}
.navicon {
  height: 48px;
}
.card-header h2 {
  font-size: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-header .icon {
  margin-top: 5px;
  vertical-align: middle;
}
